.media-grid {
  list-style-type: none;
  background: #093E76;
  margin: 0;
  padding: 0;
}

.media-grid li {
  background-color: #fff;
  float: left;
  height: 200px;
  width: 20%;
  font-size: 2em;
  text-align: center;
  padding-top: 40px;
  color: #fff;
}

.media-grid li p {
    margin: 0 10px;
}

.media-grid li:nth-child(even) {
  background: #846f8d;
}

.media-grid li:nth-child(1) {
    color: #2a6aab;
}

.media-grid li:nth-child(2) {
    background-image: url(../img/html_ss.jpg);
}

.media-grid li:nth-child(8) {
    background-image: url(../img/css_ss.jpg);
}

.media-grid li:nth-child(4) {
    background-image: url(../img/jQuery_ss.jpg);
}

.media-grid li:nth-child(5) {
    background-image: url(../img/mobile_first.jpg);
}

.media-grid li:nth-child(6) {
    background-image: url(../img/browsers.jpg);
    background-position: center;
}

.media-grid li:nth-child(3) {
    background-image: url(../img/drupal.jpg);
}

.media-grid li:nth-child(7) {
    background-image: url(../img/grid_ss.jpg);
}

.media-grid li:nth-child(9) {
    background-image: url(../img/gulp.jpg);
}

.media-grid li:nth-child(10) {
    background-image: url(../img/accesibility.jpg);
}

.media-grid.media-grid-sm li {
  width: 10%;
  height: 100px;
}