/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/components/_header.scss */
header {
  height: 100px;
  background-color: #fff;
  margin-bottom: 50px;
}

/* line 7, ../sass/components/_header.scss */
.header-container {
  width: 100%;
  max-width: 1200px;
  min-height: 100px;
  margin: 0 auto;
  padding: 10px 20px;
  box-sizing: border-box;
  background-color: #fff;
}
@media (min-width: 1205px) {
  /* line 7, ../sass/components/_header.scss */
  .header-container {
    padding: 10px 0;
  }
}
/* line 18, ../sass/components/_header.scss */
.header-container h1 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.5em;
  margin-top: 32px;
  margin-left: 100px;
  text-transform: uppercase;
}
@media (min-width: 900px) {
  /* line 18, ../sass/components/_header.scss */
  .header-container h1 {
    margin-top: 18px;
  }
}
/* line 28, ../sass/components/_header.scss */
.header-container img {
  width: 80px;
  display: block;
  float: left;
}
/* line 33, ../sass/components/_header.scss */
.header-container a {
  text-decoration: none;
}

/* line 38, ../sass/components/_header.scss */
.title a {
  color: #000;
}
/* line 40, ../sass/components/_header.scss */
.title a:visited {
  color: #000;
}

/* line 1, ../sass/components/_page.scss */
html {
  background-color: #f2f2f2;
}

/* line 5, ../sass/components/_page.scss */
.wrapper {
  padding: 0 20px;
}
@media (min-width: 1205px) {
  /* line 5, ../sass/components/_page.scss */
  .wrapper {
    padding: 0;
  }
}

/* line 12, ../sass/components/_page.scss */
.hero {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

/* line 18, ../sass/components/_page.scss */
.background-cover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  background: linear-gradient(#f99b1d, #eb4328);
  z-index: 1;
}

/* line 28, ../sass/components/_page.scss */
.background-cover-top {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  padding: 20px;
  box-sizing: border-box;
}

/* line 39, ../sass/components/_page.scss */
.current-episode {
  position: relative;
  width: 100%;
  border-bottom: 1px solid #fff;
  height: 500px;
  margin: 0;
  float: left;
  background-image: url("../images/mockingjay.jpg");
  background-size: cover;
  box-sizing: border-box;
}
@media (min-width: 600px) {
  /* line 39, ../sass/components/_page.scss */
  .current-episode {
    border-right: none;
  }
}
@media (min-width: 900px) {
  /* line 39, ../sass/components/_page.scss */
  .current-episode {
    width: 60%;
    border-right: 1px solid #fff;
    border-bottom: none;
  }
}
@media (min-width: 1200px) {
  /* line 39, ../sass/components/_page.scss */
  .current-episode {
    background-size: 130%;
  }
}
/* line 59, ../sass/components/_page.scss */
.current-episode h2 {
  font-family: 'Roboto Condensed', sans-serif;
  color: #fff;
  font-size: 2.5em;
  text-shadow: 1px 1px 1px #404040;
}
@media (min-width: 700px) {
  /* line 59, ../sass/components/_page.scss */
  .current-episode h2 {
    font-size: 3em;
  }
}
/* line 70, ../sass/components/_page.scss */
.current-episode:hover .background-cover {
  background: linear-gradient(#c47305, #b62811);
}

/* line 75, ../sass/components/_page.scss */
.side {
  width: 100%;
  height: auto;
  margin: 0;
  float: left;
}
@media (min-width: 900px) {
  /* line 75, ../sass/components/_page.scss */
  .side {
    width: 40%;
    height: 500px;
  }
}

/* line 85, ../sass/components/_page.scss */
.next-episode, .previous-episode {
  position: relative;
  width: 100%;
  min-height: 250px;
  padding-bottom: 50px;
  box-sizing: border-box;
  margin: 0;
  background-size: cover;
  float: left;
  background-image: url("../images/jingle.jpg");
  box-sizing: border-box;
  border-top: 1px solid #fff;
}
@media (min-width: 700px) {
  /* line 85, ../sass/components/_page.scss */
  .next-episode, .previous-episode {
    width: 50%;
    border-top: none;
    border-left: none;
  }
}
@media (min-width: 900px) {
  /* line 85, ../sass/components/_page.scss */
  .next-episode, .previous-episode {
    width: 100%;
    border-top: 1px solid #fff;
  }
}
/* line 103, ../sass/components/_page.scss */
.next-episode h2, .previous-episode h2 {
  font-family: 'Roboto Condensed', sans-serif;
  color: #fff;
  font-size: 1.75em;
  text-shadow: 1px 1px 1px #404040;
}
@media (min-width: 700px) {
  /* line 103, ../sass/components/_page.scss */
  .next-episode h2, .previous-episode h2 {
    font-size: 2em;
  }
}
/* line 115, ../sass/components/_page.scss */
.next-episode:hover .background-cover, .previous-episode:hover .background-cover {
  background: linear-gradient(#c47305, #b62811);
}

/* line 121, ../sass/components/_page.scss */
.previous-episode {
  background-image: url("../images/babadook.jpg");
  border-top: none;
  border-left: none;
}
@media (min-width: 700px) {
  /* line 121, ../sass/components/_page.scss */
  .previous-episode {
    border-right: 1px solid #fff;
  }
}
@media (min-width: 900px) {
  /* line 121, ../sass/components/_page.scss */
  .previous-episode {
    border-right: none;
  }
}

/* line 134, ../sass/components/_page.scss */
.listen {
  width: 100%;
  max-width: 1200px;
  background-color: #f99b1d;
  margin: 0 auto 0;
  padding: 10px;
  box-sizing: border-box;
  color: #333333;
  font-family: 'Open Sans', sans-serif;
}
@media (min-width: 700px) {
  /* line 134, ../sass/components/_page.scss */
  .listen {
    margin: 25px auto 0;
  }
}
/* line 146, ../sass/components/_page.scss */
.listen h2 {
  display: inline;
  background-color: black;
  padding: 7px;
  box-sizing: border-box;
  margin-left: -10px;
  color: #f99b1d;
}
/* line 154, ../sass/components/_page.scss */
.listen ul {
  display: inline;
  margin-left: 5px;
}
/* line 157, ../sass/components/_page.scss */
.listen ul li {
  display: inline;
}
/* line 159, ../sass/components/_page.scss */
.listen ul li:after {
  content: "|";
}
/* line 163, ../sass/components/_page.scss */
.listen ul li:last-of-type:after {
  content: "";
}
/* line 169, ../sass/components/_page.scss */
.listen a {
  color: #000;
  text-decoration: none;
}
/* line 172, ../sass/components/_page.scss */
.listen a:visited {
  color: #000;
}
/* line 175, ../sass/components/_page.scss */
.listen a:hover, .listen a:focus {
  text-decoration: underline;
}

/* line 181, ../sass/components/_page.scss */
.contact {
  padding-top: 100px;
}
/* line 183, ../sass/components/_page.scss */
.contact h3 {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-size: 2em;
  margin-bottom: 20px;
}
/* line 190, ../sass/components/_page.scss */
.contact p {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 40px;
  width: 90%;
  font-size: 1.25em;
  line-height: 1.25;
}
/* line 199, ../sass/components/_page.scss */
.contact a {
  color: #eb4328;
}
/* line 201, ../sass/components/_page.scss */
.contact a:hover {
  text-decoration: none;
}

/* line 207, ../sass/components/_page.scss */
.tag {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 8px;
  background-color: #000;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  opacity: 0.75;
}

/* line 218, ../sass/components/_page.scss */
.date {
  padding: 8px;
  background-color: #eb4328;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  opacity: 0.75;
  margin-top: 10px;
  width: 85px;
}

/* line 228, ../sass/components/_page.scss */
.clear {
  clear: both;
}

/* line 232, ../sass/components/_page.scss */
.dividing-triangle {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #f2f2f2;
  margin: 0 auto;
}

/* line 240, ../sass/components/_page.scss */
.orange {
  border-top: 20px solid #f99b1d;
}

/* line 246, ../sass/components/_page.scss */
.sub-page {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 10px;
}
/* line 252, ../sass/components/_page.scss */
.sub-page h2 {
  margin-left: 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: 2.5em;
  font-weight: 100;
  text-transform: uppercase;
}

/* line 261, ../sass/components/_page.scss */
.archive-wrapper {
  margin-top: 50px;
}

/* line 265, ../sass/components/_page.scss */
.episode-wrapper {
  width: 100%;
  height: 200px;
  float: left;
  box-sizing: border-box;
  padding: 0 20px;
  margin-bottom: 35px;
}
@media (min-width: 600px) {
  /* line 265, ../sass/components/_page.scss */
  .episode-wrapper {
    width: 50%;
  }
}
@media (min-width: 900px) {
  /* line 265, ../sass/components/_page.scss */
  .episode-wrapper {
    width: 25%;
  }
}

/* line 280, ../sass/components/_page.scss */
.episode {
  width: 100%;
  height: 200px;
  background-size: cover;
  position: relative;
}
/* line 285, ../sass/components/_page.scss */
.episode h3 {
  font-family: 'Roboto Condensed', sans-serif;
  color: #fff;
  font-size: 1.25em;
  text-shadow: 1px 1px 1px #404040;
}

/* line 295, ../sass/components/_page.scss */
.one {
  background-image: url("../images/gonegirl.jpg");
}

/* line 298, ../sass/components/_page.scss */
.two {
  background-image: url("../images/trickrtreat.jpeg");
}

/* line 301, ../sass/components/_page.scss */
.three {
  background-image: url("../images/nightcrawler.jpg");
}

/* line 304, ../sass/components/_page.scss */
.four {
  background-image: url("../images/Interstellar.png");
}

/* line 307, ../sass/components/_page.scss */
.five {
  background-image: url("../images/Birdman.jpg");
}

/* line 310, ../sass/components/_page.scss */
.six {
  background-image: url("../images/planes.jpg");
}

/* line 313, ../sass/components/_page.scss */
.seven {
  background-image: url("../images/babadook.jpg");
}

/* line 316, ../sass/components/_page.scss */
.eight {
  background-image: url("../images/mockingjay.jpg");
}

/* line 320, ../sass/components/_page.scss */
.about-wrapper, .donate-wrapper {
  width: 100%;
  max-width: 900px;
  margin: 50px auto 0;
  box-sizing: border-box;
  padding: 0 20px;
}
/* line 326, ../sass/components/_page.scss */
.about-wrapper p, .donate-wrapper p {
  font-size: 1.1em;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.25;
  margin-bottom: 25px;
}
/* line 332, ../sass/components/_page.scss */
.about-wrapper ul, .donate-wrapper ul {
  margin-left: 50px;
}
/* line 335, ../sass/components/_page.scss */
.about-wrapper li, .donate-wrapper li {
  font-size: 1.1em;
  font-family: 'Open Sans', sans-serif;
}
/* line 339, ../sass/components/_page.scss */
.about-wrapper a, .donate-wrapper a {
  color: #eb4328;
}
/* line 341, ../sass/components/_page.scss */
.about-wrapper a:visited, .donate-wrapper a:visited {
  color: #eb4328;
}
/* line 344, ../sass/components/_page.scss */
.about-wrapper a:hover, .about-wrapper a:focus, .donate-wrapper a:hover, .donate-wrapper a:focus {
  text-decoration: none;
}
/* line 348, ../sass/components/_page.scss */
.about-wrapper h3, .donate-wrapper h3 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 2em;
  font-weight: 100;
  margin: 20px 0;
}
/* line 354, ../sass/components/_page.scss */
.about-wrapper img, .donate-wrapper img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

/* line 361, ../sass/components/_page.scss */
.contact-wrapper {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

/* line 367, ../sass/components/_page.scss */
.image-wrapper {
  width: 100%;
  max-width: 555px;
  margin: 50px auto;
}

/* line 374, ../sass/components/_page.scss */
.donate-wrapper form {
  margin-top: -100px;
  margin-bottom: 200px;
}
/* line 377, ../sass/components/_page.scss */
.donate-wrapper form input {
  background: transparent;
}
/* line 381, ../sass/components/_page.scss */
.donate-wrapper ul {
  list-style: circle;
}
/* line 383, ../sass/components/_page.scss */
.donate-wrapper ul li {
  margin-bottom: 5px;
}

/* line 389, ../sass/components/_page.scss */
.matt-wrapper, .alex-wrapper {
  width: 200px;
  display: block;
  margin: 0 auto;
}
@media (min-width: 600px) {
  /* line 389, ../sass/components/_page.scss */
  .matt-wrapper, .alex-wrapper {
    display: inline-block;
  }
}
/* line 396, ../sass/components/_page.scss */
.matt-wrapper p, .alex-wrapper p {
  text-align: center;
  color: #eb4328;
  font-weight: 800;
  text-transform: uppercase;
}

/* line 404, ../sass/components/_page.scss */
.matt-wrapper {
  margin-right: auto;
}
@media (min-width: 600px) {
  /* line 404, ../sass/components/_page.scss */
  .matt-wrapper {
    margin-right: 150px;
  }
}

/* line 411, ../sass/components/_page.scss */
.contact-info {
  margin: -50px auto 0;
}
/* line 413, ../sass/components/_page.scss */
.contact-info p {
  font-size: 1.1em;
  text-align: left;
}

/* line 419, ../sass/components/_page.scss */
.email a {
  display: block;
  text-align: center;
}

/* line 424, ../sass/components/_page.scss */
.episode-wrapper.large {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}
@media (max-width: 600px) {
  /* line 424, ../sass/components/_page.scss */
  .episode-wrapper.large {
    padding: 0;
  }
}
/* line 431, ../sass/components/_page.scss */
.episode-wrapper.large .episode {
  height: 320px;
}

/* line 436, ../sass/components/_page.scss */
.episode-description {
  width: 100%;
  margin: 200px auto 0;
  max-width: 860px;
  box-sizing: border-box;
  padding: 0 20px;
}
/* line 442, ../sass/components/_page.scss */
.episode-description p {
  font-size: 1.1em;
  font-family: 'Open Sans', sans-serif;
}
/* line 446, ../sass/components/_page.scss */
.episode-description h3 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.25em;
  font-weight: 100;
  margin: 20px 0;
}
/* line 452, ../sass/components/_page.scss */
.episode-description h4 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1em;
  font-weight: 100;
  margin: 20px 0;
}
/* line 458, ../sass/components/_page.scss */
.episode-description a {
  font-family: 'Open Sans', sans-serif;
  color: #eb4328;
  display: block;
  margin-bottom: 5px;
}
/* line 463, ../sass/components/_page.scss */
.episode-description a:visited {
  color: #eb4328;
}
/* line 466, ../sass/components/_page.scss */
.episode-description a:hover, .episode-description a:focus {
  text-decoration: none;
}

/* line 472, ../sass/components/_page.scss */
.more-episodes {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9em;
  color: #eb4328;
  display: block;
  margin-bottom: 5px;
  margin-left: 21px;
  margin-top: 5px;
  text-transform: uppercase;
  text-decoration: none;
}
/* line 482, ../sass/components/_page.scss */
.more-episodes:visited {
  color: #eb4328;
}
/* line 485, ../sass/components/_page.scss */
.more-episodes:hover, .more-episodes:focus {
  text-decoration: underline;
}

/* line 491, ../sass/components/_page.scss */
.background-cover-top iframe {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
}

/* line 1, ../sass/components/_navigation.scss */
nav {
  float: none;
  margin-top: -125px;
}
/* line 5, ../sass/components/_navigation.scss */
nav ul li {
  display: block;
  text-transform: uppercase;
  color: #eb4328;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  margin-right: 50px;
  color: #eb4328;
  margin-bottom: 15px;
}
/* line 14, ../sass/components/_navigation.scss */
nav ul li:last-of-type {
  margin-right: 0px;
}
/* line 17, ../sass/components/_navigation.scss */
nav ul li a {
  text-decoration: none;
  color: #eb4328;
}
/* line 20, ../sass/components/_navigation.scss */
nav ul li a:visited {
  color: #eb4328;
}
/* line 23, ../sass/components/_navigation.scss */
nav ul li a:hover, nav ul li a:focus {
  border-bottom: 2px solid #eb4328;
}

/* line 31, ../sass/components/_navigation.scss */
.open {
  margin-top: 10px;
}

@media (min-width: 900px) {
  /* line 36, ../sass/components/_navigation.scss */
  nav {
    float: right;
    margin-top: 30px;
  }
  /* line 40, ../sass/components/_navigation.scss */
  nav ul li {
    display: inline;
    margin-bottom: 0;
  }
}
/* line 48, ../sass/components/_navigation.scss */
.mobile-menu-btn {
  display: block;
  text-decoration: none;
  position: absolute;
  background-color: #eb4328;
  margin-top: 0px;
  right: 20px;
  color: #FFF;
  padding: 5px 7px;
  top: 21px;
  border-radius: 5px;
  font-weight: bold;
  font-family: "Open Sans",sans-serif;
}
@media (min-width: 900px) {
  /* line 48, ../sass/components/_navigation.scss */
  .mobile-menu-btn {
    display: none;
  }
}
/* line 64, ../sass/components/_navigation.scss */
.mobile-menu-btn:hover, .mobile-menu-btn:focus {
  background-color: #ef6c57;
}

/* line 1, ../sass/components/_about.scss */
.about {
  width: 100%;
  background-color: #f99b1d;
  margin-top: 150px;
}
/* line 5, ../sass/components/_about.scss */
.about .about-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
  box-sizing: border-box;
}
/* line 13, ../sass/components/_about.scss */
.about h2 {
  color: #fff;
  text-align: center;
  font-size: 2em;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  margin-top: 30px;
}
/* line 21, ../sass/components/_about.scss */
.about p {
  color: #fff;
  width: 85%;
  max-width: 800px;
  margin: 50px auto;
  font-size: 1.25em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  line-height: 1.25;
}

/* line 1, ../sass/components/_form.scss */
input {
  background-color: #262626;
  border: none;
  height: 40px;
  font-size: 1.2em;
  color: #fff;
  margin-bottom: 20px;
}

/* line 9, ../sass/components/_form.scss */
textarea {
  background-color: #262626;
  border: none;
  height: 150px;
  font-size: 1.2em;
  color: #fff;
  margin-bottom: 20px;
}

/* line 17, ../sass/components/_form.scss */
label {
  display: block;
  margin-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
}

/* line 23, ../sass/components/_form.scss */
.contact-form {
  margin: 0 auto;
  width: 655px;
}
@media (max-width: 850px) {
  /* line 23, ../sass/components/_form.scss */
  .contact-form {
    width: 90%;
    margin-left: 20px;
  }
}

/* line 32, ../sass/components/_form.scss */
.form-name {
  display: inline-block;
}
/* line 34, ../sass/components/_form.scss */
.form-name input {
  width: 300px;
  outline-color: #f99b1d;
  margin-right: 40px;
}
@media (max-width: 750px) {
  /* line 32, ../sass/components/_form.scss */
  .form-name {
    display: block;
  }
}

/* line 43, ../sass/components/_form.scss */
.form-email {
  display: inline-block;
}
/* line 45, ../sass/components/_form.scss */
.form-email input {
  width: 300px;
  outline-color: #f99b1d;
}
@media (max-width: 750px) {
  /* line 43, ../sass/components/_form.scss */
  .form-email {
    display: block;
  }
}

/* line 54, ../sass/components/_form.scss */
.form-subject input {
  width: 645px;
  outline-color: #f99b1d;
}
@media (max-width: 750px) {
  /* line 54, ../sass/components/_form.scss */
  .form-subject input {
    width: 300px;
  }
}

/* line 63, ../sass/components/_form.scss */
.form-comments textarea {
  width: 645px;
  outline-color: #f99b1d;
}
@media (max-width: 750px) {
  /* line 63, ../sass/components/_form.scss */
  .form-comments textarea {
    width: 300px;
  }
}

/* line 71, ../sass/components/_form.scss */
.submit {
  background-color: #eb4328;
  font-weight: 600;
  font-size: 1.25em;
  cursor: pointer;
  width: 200px;
  height: 50px;
}
/* line 73, ../sass/components/_form.scss */
.submit:hover, .submit:focus {
  background-color: #b62811;
}

/* line 82, ../sass/components/_form.scss */
.hide {
  display: none;
}

/* line 1, ../sass/components/_footer.scss */
footer {
  width: 100%;
  height: 100px;
  background-color: #000;
  margin-top: 100px;
  box-sizing: border-box;
  padding-top: 40px;
  padding-left: 15px;
}
/* line 9, ../sass/components/_footer.scss */
footer p {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}
